**/*.exe
**/*.app
**/*.a
**/*.o
**/*.bin
**/*.txt
**/Index
**/Without
**/GetAddrInfo
**/Client
**/Server
**/StackList
**/Matrix
**/List
**/Select
**/Poll
**/Triangle
**/Window
**/Rectangle
**/TwoTriangles
**/Separate
**/Colors